a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin: 10px;
   
}

a:hover{
    color: #FFD602
}
h1{
  color: aliceblue;
}
.navbar{
    padding: 10px;
    justify-content: space-between;
}
