
.form-adm-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    color: black;
}


.show-password > p{
    color: black;
}
.show-password{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.toggle-password{
    height: 30px;
    width: 30px;
}

.toggle-password:hover{
   cursor: pointer;
}

.toggle-password{
    height: 30px;
    width: 30px;
}

.toggle-password:hover{
   cursor: pointer;
}

.button-submit-adm{
    padding: 10px;
    width: 200px;
    border: none;
    transition: 1s;
}

.button-submit-adm:hover{
    cursor: pointer;
    background-color: rgb(161, 163, 165);
}

.adm-not-found{
    color: red;
    font: 2rem;
    padding-bottom: 10px;
}