.register-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 461px;
    width: 350px;
    max-height: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.form-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.loading-register{
    height: 50px;
    width: 50px;
}

.error-input-register{
    font-size: 1rem;
    text-align: center;
}

.input-register {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 250px;
}

.input-register>input {
    border-radius: 10px;
    border: none;
    padding: 5px;
   
}
.show-password{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.toggle-password{
    height: 30px;
    width: 30px;
}

.toggle-password:hover{
   cursor: pointer;
}

.input-register>label {
    margin: 5px;
}


.send-register {
    display: flex;
    justify-content: center;
    width: 90%;
}

.button-submit {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFD602;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    transition: 1s;

}

.button-submit:hover {
    background-color: #c4a405;

}

@media screen and (max-width:1000px) {
    .register-form-box{
        width: 250px;
    }
    .input-register {
        font-size: 1rem;
    }
    
}