
.adm-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
}


.title-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100%;
}

.operations-box{
    background-color: white;
    padding: 20px;
    height: 80%;
    width: 80%;
    border-radius: 20px;
}

.adm-message >p{
   color: black;
   font-size: 1.3rem;
}

.adm-message{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

}

.logout-adm{
    border: none;
    cursor: pointer;
    transition: 1s;
    padding: 10px;
}

.logout-adm:hover{
    background-color: rgb(105, 105, 105);
}

.gen-title{
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

.display-buttons-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-buttons-adm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}

.change-operation{
    transition: 0.3s;
    padding: 20px;
}

.change-operation:hover{
    cursor: pointer;
    background-color: rgb(152, 147, 147);
}

.itens-adm-box{
    border: solid 1px black;
    height: 300px;
    width: 600px;
    overflow-y: scroll;
    padding: 10px;
}

.confirm-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100svh;
    width: 100svw;
    background-color: rgba(0, 0, 0, 0.514);
  }
  
  .confirm-box{
    background-color: white;
    border: black solid 1px;
    padding: 10px;
    height: 300px;
    width: 300px;
  }

    
  .confirm-box >p{
    color: black;
    text-align: center;
  }

  .confirm-option{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
  }

  .close-option{
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .accept-option{
    height: 30px;
    width: 30px;
    cursor: pointer;
  }