.footer{
    background-color: #20424B;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon-git-div{
    display: flex;
   align-items: center;
text-align: center;

}

.git-icon-image{
cursor: pointer;
}

.subtitle-git{
    margin: 15px;
    color: white;
}