.title{
    font-size: 3.2rem;
    font-weight: bold;
}

.profile-page{
    display: flex;
    justify-content: space-between;
}

.profile-info{
    margin-top: 2.4em;
    width: 40%;
}

.profile-ideas{
    width: 60%;
    display: flex;
}

.subtitle{
    text-align: center;
    font-size: 2.25rem;
    color: white;
    margin-bottom: 2rem;
}

.idea{
  margin-left: 15rem;
}

.ideas{
    margin-left: 10rem;
}

.infos{
    border: 1px solid  #4E4B4B;
    width: 25vw;
    height: 60vh;
    margin: 1rem;
    padding: 20px;
    border-radius: 2%;
    box-shadow: 0 0 10px;
    flex-direction: column;
}

.infos p {
    color: white;
    margin-left: 3.6rem;
    font-size: 1.5rem;
}

.btn{
    margin-top: 13rem;
    margin-left: 0.75rem;
    width: 20vw;
    height: 10vh;
    color: white;
    transition: background-color 0.3s ease;
    border: 1px solid  #4E4B4B;
    box-shadow: 0 0 2px;
    text-align: center;
    font-size:2rem;
    height: fit-content;
}

.btn:hover{
    background-color: yellow;
}


@media (max-width: 600px) {
    .title, .subtitle, .infos p {
        font-size: 13px;
        margin: 0;
    }
    .profile-page{
        height: auto;
        width: auto;
    }
    .infos{
        width: 100%;
        height: 100%;
    }
    .idea{
        margin: 1rem;
    }
    .ideas{
        margin: 1rem;
    }
    .btn{
        width: auto;
        font-size: 1rem;
    }
    .profile-info{
        width: auto;
    }
    .profile-ideas{
        width: auto;
    }
}