.title{
    text-align: center;
    font-size: 2.25rem;
    color:#FFD602;
    font-weight: bold;
    margin-bottom: 55px;
   
}
.title2{
    text-align: center;
    font-size: 2.3rem;
    color:#FFFFFF;
    font-weight: bold;
}

