.login-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.form-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.input-login {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
}

.input-login>input {
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.input-login>label {
    margin: 5px;
}


.send-login {
    display: flex;
    justify-content: center;
    width: 90%;
}

.button-submit {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFD602;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    transition: 1s;

}

.button-submit:hover {
    background-color: #c4a405;

}

@media screen and (max-width:1000px) {
    .login-form-box{
        width: 250px;
    }
    .input-login {
        font-size: 1rem;
    }
    
}