
@keyframes float{
  0%{
      transform: translateY(0px);
  }
  50%{
      transform: translateY(-20px)
  }
  100%{
      transform: translateY(0px)
  }
}

.carousel-control-prev, .carousel-control-next {
    width: auto;
  }

  .slide {
    height: 50svh;
    width: 100%;
    display: flex;
    align-items: center;



}
.card-carousel {
  padding: 20px;
  display: flex;
  width: 292px;
  height: 292px;
  overflow-y: hidden;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  animation: float 2.5s ease-in-out infinite;
  margin-inline-start:40px;
}
.carousel-item{
  width: 100%;
  height: 100%;
}

.card-body{
  text-align: center;
  font-weight: bold;
  font-size: 1.13rem; 
}

.card-text{
  padding: 10px;
  font-size: 0.95rem;
  word-break: break-all;
  white-space:  wrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;

}  


  .carousel-control-prev {
    left: auto;
  }


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 576px) {
  .card-title{
    font-size: 0.85rem;
    font-weight: bold;   
    word-break: normal;
    line-height: 1;
    ;
  }.card-text{
  font-size:0.7rem;
  text-align: justify;
  overflow-y: hidden;

  }
  .carousel-item{
    width:auto;
    height:auto ;
    margin: auto;

  }.card-carousel {
    padding: 20px;
    display: flex;
    width: 120px;
    height: 200px;
    overflow-y: hidden;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    animation: float 2.5s ease-in-out infinite;
    margin-inline-start:14px;
    gap: 20px;
  }.carousel{
    align-items: center;
    height: 40vh;
  }
  .carousel-inner{
    width: 100;
    height:100%;
  }

}


/*   landscape no celular  */

 @media only screen and (min-width: 768px) and (max-width:992px){
  .card-title{
    font-size: 1.5rem;
    font-weight: bold;   
    word-break: normal;
    
    ;
  }.card-text{
  font-size:1.2rem;
  text-align: justify;
  overflow-y: hidden;

  }
  .slide{
    height:70vh;
    width: 100vw;
  }
  .carousel-item{
    width:auto;
    height:auto ;
    margin: auto;

  }.card{
    display: flex;
    height:50%;
    width: 30%;
    margin-inline-start:0px;
    margin-top: 40%;
  }.carousel{
    height: 70vh;
  }
  .carousel-inner{
    width: 100vw;
    height:100vh;
  }

 }

/* pcs */
@media only screen 
and (min-width : 1224px) {
  .card-title{
    font-size: 21px;
    font-weight: bold;
  }.card-text{
  font-size:20px;
  white-space:  normal;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  }
  .carousel-item{
    width:100%;
    height:40%;
    margin-left: 0;

  }.card-carousel {
    display: flex;
    height:70%;
    width: 20%;
    margin-inline-start:0px;
  }.carousel{

    height: 50vh;
  }
   .cards{
    height: 100vh;
    width: 100vw;
   }.slide{
    margin-top: 120px;
}
}

/*media  (min-width:menor que a tela do pc){
    flex-wrap: wrap;
}*/
  
  

  