
@keyframes float{
  0%{
      transform: translateY(0px);
  }
  50%{
      transform: translateY(-20px)
  }
  100%{
      transform: translateY(0px)
  }
}

.carousel-control-prev, .carousel-control-next {
    width: auto;
  }

  .carousel {
    height: 70%;
    display: flex;
    align-items: center;
}

.card-title{
  font-weight: bold;
}

.textCarousel{
  padding: 10px;
}
  
  .carousel-control-prev {
    left: auto;
  }
  
  .carousel-control-next {
    right: 10px;
  }
  @media(max-width:600px) {
    .titleCarousel,.textCarousel{
        font-size: 10px;
      }
}
  
  

  
  

  