@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px)
    }
    100%{
        transform: translateY(0px)
    }
  }
  .main{
    display: flex;
    justify-content: center;
    gap: 100px;

  }
  .modal-header {
    border: none;
    color: #FFFFFF;
  }
  .modal-body {
    border: none;
    color: #FFFFFF;
  }
  .modal-footer{
        border: none;
        color: #FFFFFF;
      
  }
  .card{
      margin: 40px;
      padding: 15px;
      width: 292px;
      height: auto;
      max-width: 500px;
      max-height: 500px;
     
      animation: float 2.5s ease-in-out infinite;
      
      
  } 
  .save{
    font-size:  1.25rem;
    border: 2px solid black;
    height: 5vh;
    width: 50vw;  
    border-radius: 9%;
    color:white
  }
  
  .card-title{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
  .text{
    color: #FFFFFF;
    padding: 10px;
    font-size: 1.3rem;
    overflow-y: auto;
      text-overflow: ellipsis;
      display: -webkit-box;
       -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      
    }
           

  

  .text2{
    color: #FFFFFF;
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
     -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .modal-content{
    background-color: hsl(50, 100%, 50%)
  }
  .star{
      color: black;
  } 
  .modal-title{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .colors{
    margin-top: 30px;
  }
  .dificulty{
    margin-top:30px;

  }
.modal-body p{
    margin: 10px;
    font-size: 1.3rem;
}
.edit{
  width: 2rem;
  height: 2rem;
}
.delete{
  width: 2rem;
  height: 2rem;
}
@media (max-width: 600px) {
  .card{
      width: auto; 
      height: auto;
      margin: 20px;
      animation: none;
  }
  .card-title, .text,.text2 .modal-body p {
      font-size: 13px; 
  }
  .edit,.delete{
    width: 1rem;
    height: 1rem;
  }

  .modal,.modal-content,.modal-title,.modal-body,.modal-header,.modal-footer{
    width: 60vw;
    height: auto;
    font-size: 0.78rem;
    margin:0; 
    
  }

}