.carousel-control-prev, .carousel-control-next {
    width: auto;
  }
  
  .carousel-control-prev {
    left: auto;
  }
  
  .carousel-control-next {
    right: 10px;
  }
  @media(max-width:600px) {
    .titleCarousel,.textCarousel{
        font-size: 10px;
      }
}
  
  

  
  

  