/* telas muito pequenas: 320px;
  telas pequenas : 576px;
  telas médias  : 768px;
  telas grandes : 992px;
  telas muito grandes: 1200px;*/
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section-sobre-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;

}


.imagem-home {
    width: 30%;
    transform: scaleX(-1);
}

.text-sobre-home {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;


}

.card {
    max-height: 250px;
    min-height: 250px;
    overflow-y: hidden;
    max-width: 400px;
    word-break: break-all;
    text-align: unset;
    color: white;
    margin-top: 20px;
    animation: float 2.5s ease-in-out infinite;
}

.double-article {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.text-article-card {
    text-align: center;
    color: white;
}

.card-article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: gray;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 200px;

}

.yellow-text {
    color: #FFD602;
}

.blue-text {
    color: #7BEFFF;
}

.middle-text {
    width: 50%;
    margin: 0;
}

.carrosel-title1 {
    padding-top: 5%;
    font-size: 2rem;
    font-weight: bold;
}

.cards {
    height: 100vh;
}

.example-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    height: 80%;
}

.card1 {
    height: 200px;
    width: 200px;
    background-color: gray;
}



h1 {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}


p {
    color: #FFFFFF;
    font-weight: 500;
    text-wrap: pretty;

}

.text-middle-page {
    font-size: 2rem;
    letter-spacing: n;
    padding: 0;
    margin: 0;

}

.main-title-home {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px;
}

/*celulares */
@media only screen and (min-width : 320px) and (max-width : 576px) {
    .section-sobre-home{
        height: 55vh;
    }
    .main-title-home {
        font-size: 1.5rem;
    }

    .middle-text {
        width: 100%;

    }

    .text-middle-page {
        font-size: 1rem;
        text-align: justify;
        white-space: normal;
        padding: 15px;
    }

    .carrosel-title1 {
        font-size: 1rem;
    }

    .articles {
        gap: 100px;
    }

    .card-article {
        height: 80px;
        width: 80px;
    }

    .cards {
        display: none;
    }

    

}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .section-sobre-home{
      height: 100vh;
    }
    .main-title-home {
        font-size: 2.5rem;
        width: 100%;
    }
    .text-middle-page {
        font-size: 1.8rem;
        text-align:justify ;
        letter-spacing: normal;
        padding: 0;
        line-height: 1.5; 
        
    }

    .carrosel-title1 {
        font-size: 2rem;
    }

    .articles {
        gap: 100px;
    }

    .card-article {
        height: 80px;
        width: 80px;
    }

    .cards {
        display: none;
    }
}

/*   landscape no celular  */



/* pcs */
/* @media only screen 
and (min-width : 1224px) {

} */


/*media  (min-width:menor que a tela do pc){
    flex-wrap: wrap;
}*/