.form{
    width: 45%;
    min-height: 80%;
    max-height: fit-content;
    padding: 30px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 3px rgba(47, 45, 45, 1);
    border-radius: 3%;
    margin-left: 20px
}
.input{
    font-size: 1rem;
}

.form-label{
    font-size: 1rem;
}

.form-floating > label{
 font-size: 1rem;
}

.error-input-create{
    color: white;
    margin: 5px;
}
.input {
    background-color: #FFD602;
    padding: 20px;
    width: 100%;
    margin-top: 40px;
}
.cores{
    display: flex;
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    padding: 20px;
     
}
.radios{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}

.loading-create{
    height: 50px;
    width: 50px;
}

.form-floating >.form-control{
    min-height: 50px;
    max-height: 113px;
}

.form-check-input{
    padding: 5px;
}

.salvar{
    width: 70%;
    padding: 0.5rem;
    margin-left: 15%;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: #FFD602;
    transition: 0.2s ease-in-out;
}

.salvar:hover{
    color: white;
    background-color: #00000000;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .form{
        width: 90%;
        min-height: 100%;
        margin-top: 0;
    }

    .cores{
        width: auto;
        height: auto;
        font-size: 0.75rem;
        flex-direction: column;
        margin: 0;
    }
    
    .check{
        width: auto;
        height: auto;
        margin: 0;
    }



}

/*Dispositivos móveis (320px a 480px)
iPads e tablets (481px a 768px)
Telas pequenas e laptops (769px a 1024px)
Desktops e telas grandes (1025px a 1200px)
Telas muito grandes e TVs (1201px e acima)
*/

@media only screen
 and (min-width:481px) 
 and (max-width:768px){
    .form{
        width: 45%;
        min-height: 90%;
        margin-top: 5%;
    }



    .cores{
        width: auto;
        height: auto;
        font-size: 0.75rem;
        flex-direction: column;
        margin: 0;
    }
    .check{
        width: auto;
        height: auto;
        margin: 0;
    }
  


    
}

@media only screen 
and (min-width: 769px) 
and (max-width:1024px){
    .form{
        width: 45%;
        min-height: 75%;
        margin-top: 0;
    }

    .cores{
        width: auto;
        height: auto;
        font-size: 0.75rem;
        flex-direction: column;
        margin: 0;
    }
 
    .form-floating{
        font-size: 1.75rem;
     }
     .input{
        font-size: 1rem;
     }

    .input {
        padding: 20px;
        width: 100%;
        margin-top: 40px;
    }
    
}



@media only screen 
and (min-width:1025px)
and (max-width:1201px){
    .form{
        width: 45%;
        min-height: 75%;
    }

    .cores{
        width: auto;
        height: auto;
        font-size: 2rem;
        flex-direction: column;
        margin: 0;
    }
    .check{
        width: auto;
        height: auto;
        margin: 0;
    }

    .input {
        font-size: 2rem;
        padding: 20px;
        width: 100%;
        margin-top: 40px;
    }
    .form-floating{
        font-size: 1.75rem;
     }
     .input{
        font-size: 1rem;
     }
}
@media only screen 
 and (min-width:1201px){
    .form{
        width: 40%;
        padding: 40px;
        min-height:90%;
    }

    .cores{
        width: auto;
        height: auto;
        font-size: 2rem;
        flex-direction: column;
        margin: 0;
    }
    .check{
        width: auto;
        height: auto;
        margin: 0;
    }
  

    .input {
        font-size: 1rem;
        padding: 20px;
        width: 100%;
        margin-top: 40px;
    }
    .form-floating{
        font-size: 1rem;
     }
     .input{
        font-size: 1rem;
     }
 }